.post {
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: 1;
	-o-animation-duration: 3s;
	-o-animation-delay: 0s;
	-o-animation-iteration-count: 1;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: 1;
}
