/* MEDIA QUERIES */
@media(max-width:767px){
/*	.desktop{display: none;}
	.mobile{display: block;}*/
	.mobile.container{
		padding:0px;
		overflow-x: hidden;
	}
	.mobile .row{
		margin-bottom: 0px;
	}
	.acc-wizard .margin-no{
		padding-top: 0px;
	}
	.panel{
		border: none;
	}
/*	.jumbotron p {
		font-size: 14px !important;
	}*/
	.full.spen, .full.display{
		max-height: 490px;		
	}
	.full.spen img, .full.display img{
		width: auto;
		max-height: 300px;
		max-width: 360px;
	}
	.pro_header.is-feature, .pro_header.is-gallery, .pro_header.is-spec {
		height: 110px !important;
	}
	.spec {
		width: 100%;
		min-height: 300px;
		height: auto;
	}
	.home_title {
		font-size: 40px !important;
		color: #ffffff;
		text-align: left;
		margin-left: 45px;
		line-height: 45px;
	}
}
@media(min-width:768px){
	.mobile{display: none;}
	.carousel-caption{
		right: 4% !important;
		left: 4% !important;
	}
	.carousel-caption img{
		max-width: 100%;
		padding-bottom: 6px;
	}
	.jumbotron p {
		/*font-size: 18px !important;*/
	}
	.container .jumbotron {
		padding-right: 20px;
		padding-left: 20px;
	}
	.jumbotron.menu img {
		display: none;
	}
	.full.spen, .full.display{
		max-height: 620px;		
	}
	.pro_header.is-feature, .pro_header.is-gallery, .pro_header.is-spec {
		height: 110px !important;
	}
	.spec {
		width: 100%;
		min-height: 300px;
		height: auto;
	}
	.home_title{
		font-size: 45px !important;
		color: #ffffff;
		text-align: center;
		margin: auto;
	}
}
@media(min-width:992px){
	.jumbotron.menu img {
		display: block;
	}
	.full.spen, .full.display{
		max-height: 620px;		
	}
	.pro_header.is-feature, .pro_header.is-gallery, .pro_header.is-spec {
		height: 110px !important;
	}
	.spec {
		width: 25%;
		min-height: 300px;
		height: auto;
	}
}
@media(min-width:1200px){
	.carousel-caption{
		right: 4% !important;
		left: 4% !important;
	}
	.container {
		width: 970px !important;
	}
	.pro_header.is-feature, .pro_header.is-gallery, .pro_header.is-spec {
		height: 60px !important;
	}
	.spec {
		width: 25%;
		min-height: 300px;
		height: auto;
	}
}