.item div{
	/*position: absolute;*/
	z-index: 100;
}

.carousel-caption .blk {
	font-family: SamsungIFBd !important;
	/*text-transform: uppercase;*/
}
p.blk-sub{
	font-size: 14px !important;
	color: #000;
	font-weight: bold;
}
.idx01 .blk {
	font-family: SamsungIFBk !important;
	text-transform: uppercase;
}
.idx01 p{
	text-align: center;
	color: #ffffff;
	/*text-transform: uppercase;	*/
	display: block;
	font-size: 32px !important;
	line-height: 38px;
	/*text-transform: uppercase;*/
	letter-spacing: 2px;
	text-indent: 0px;
	word-spacing: -1px;
}
p.idx1-sm {
	font-size: 14px !important;
}
.idx01 .btn_acc_1{
	background-image: url('../images/accordion_1_slide_1_btn.png');
	background-repeat: no-repeat;
	background-position: top left;
	width: 140px;
	height: 33px;
	font-size: 10px !important;
	color: #ffffff;
	text-align: left;
	margin: 30px auto;
	cursor: pointer;
	letter-spacing: 0px;
	padding-left: 25px;
	padding-top: 9px;
	display: block;
	text-transform: uppercase;;
}
.btn_acc_2{
	background-image: url('../images/accordion_2_slide_0_btn.png');
	background-repeat: no-repeat;
	background-position: top left;
	width: 258px;
	height: 45px;
	font-size: 15px !important;
	color: #ffffff;
	text-align: right;
	margin: 30px auto;
	cursor: pointer;
	letter-spacing: 0px;
	padding-right: 25px;
	padding-top: 12px;
	display: block;
	text-transform: uppercase;;
}
.idx02,
.idx07{
	font-size: 28px;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
.idx02 .carousel-caption,
.idx07 .carousel-caption{
	right: 40%;
	left: 40px;
	text-align: left;
	top: 50px;
}
.idx02 .carousel-caption p {
	font-size: 24px;
	font-style: italic;
}
.idx03 .carousel-caption, 
.idx05 .carousel-caption, 
.idx06 .carousel-caption,
.idx08 .carousel-caption{
	right: 0%;
	left: 0%;
	padding-bottom: 100px;
	top: 0;
	padding-top: 20px;
}
.idx03 .q, 
.idx05 .q, 
.idx06 .q,
.idx08 .q{
	font-size: 20px;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 8px;
	height: 60px;
	max-height: 50px;
}
.idx03 .q-text, 
.idx05 .q-text, 
.idx06 .q-text,
.idx08 .q-text{
	font-size: 13px;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	font-style: italic;
	height: 60px;
	max-height: 50px;
}
.idx03 .originali-text.jumbotron.menu-color {
	padding-top: 0px;
	height: 45px;
	margin-bottom: 10px;
	background: none;
	padding: 0px;
	padding-left: 10px;
}
.idx03 .originali-text{
	font-size: 18px;
}
.idx03 .originali-text-big{
	font-size: 20px;
}
.idx04 .carousel-caption{
	right: 40px;
	left: 50%;
	text-align: right;
	top: 50px;
	font-size: 24px;
}
.idx04 .carousel-caption p{
	font-size: 24px;
	font-style: italic;
}
.idx05 .carousel-caption p, 
.idx06 .carousel-caption p,
.idx08 .carousel-caption p{
	font-size: 24px;
	color: #000;
}

.idx07 .carousel-caption p {
	font-size: 24px;
	font-style: italic;
}
.blue{
	color: #0054a6;
	text-transform: uppercase;
}
.idx09 .carousel-caption p{
	font-size: 13px;
	color: #000;
	font-weight: bold;
}
.idx09 .carousel-caption p.big  {
	font-size: 32px;
}
.idx09 .orange{
	background-color: #dcaa3a;
	max-height: 130px;
height: 130px;
}
.idx09 .bblue{
	background-color: #0087cd;
	max-height: 130px;
height: 130px;
}
.idx09 .green{
	background-color: #20ae4c;
	max-height: 130px;
height: 130px;
}
.idx09 .pink{
	background-color: #e13b9c;
	max-height: 130px;
height: 130px;
}
.idx09 .orange p, .idx09 .bblue p, .idx09 .green p, .idx09 .pink p{
	color: #ffffff;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	text-shadow: none;
}
.idx09 .orange a, .idx09 .bblue a, .idx09 .green a, .idx09 .pink a{
	width: 100%;
	color: #000;
	text-align: right;
	background-image: url('../images/accordion_1_slide_9_img6.png');
	background-repeat: no-repeat;
	background-position: center right;
	/*border: 2px solid red;*/
	display: block;
	padding-right: 22px;
	cursor: pointer;
}

/* SECOND SLIDE */
.carousel-caption.margin-no{
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin: 0px;
}
.carousel-caption.margin-50{
	padding-bottom: 50px;
	margin-bottom: 50px;
	margin: 0px;
}
.carousel-inner p{
	/*color: #4c4c4c;*/
	text-shadow: none;
	line-height: 1;
}
.carousel-inner p.orange{
	color: #dcaa3a !important;
	font-family: SamsungIFBk !important;
}
.carousel-inner p.smallxs{
	font-size: 12px;
	text-shadow: none;
	color: #000;
}
.carousel-inner p.small{
	font-size: 16px;
	text-shadow: none;
}
.carousel-inner p.med{
	font-size: 28px;
	text-shadow: none;
	font-weight: bold;
	color: #000;
}
.carousel-inner p.med2{
	font-size: 22px;
	text-shadow: none;
	color: #413f3c;
	padding-top: 32px;
}
.carousel-inner p.big{
	font-size: 32px;
	/*text-transform: uppercase;*/
	color: #000;
}

.carousel-inner p.margin-bottom-no{
	margin-bottom: 0px;
}
.carousel-inner p.pink, .carousel-inner span.pink{
	color: #e13b9c !important;
	font-family: SamsungIFBk !important;
}
.carousel-inner p.gray{
	color: #707070 !important;
	font-family: SamsungIFBk !important;
	line-height: 50px;
}
.carousel-inner p.green{
	color: #20ae4c !important;
	font-family: SamsungIFBk !important;
}
.carousel-inner p.azure{
	color: #0087cd !important;
	font-family: SamsungIFBk !important;
}
.pos-min{
	right: 6%;
	left: 6%;
}
.btn_acc_3 {
	background-image: url('../images/accordion_6_slide_0_img2.png');
	background-repeat: no-repeat;
	background-position: top left;
	width: 300px;
	height: 91px;
	font-size: 20px !important;
	color: #ffffff;
	text-align: left;
	margin: 0px auto;
	cursor: pointer;
	letter-spacing: 0px;
	padding-right: 25px;
	padding-top: 12px;
	display: block;
	text-transform: uppercase;
	font-family: SamsungIFBk !important;
}
.btn_acc_3 span{
	font-size: 12px !important;
	font-family: SamsungIFRg !important;
	margin-top: -5px;
	display: block;
	color: #fff;
}
.btn_acc_4{
	background-image: url('../images/accordion_6_slide_0_img3.png');
	background-repeat: no-repeat;
	background-position: top left;
	width: 216px;
	height: 90px;
	font-size: 20px !important;
	color: #ffffff;
	text-align: left;
	margin: 0px auto;
	cursor: pointer;
	letter-spacing: 0px;
	padding-right: 25px;
	padding-top: 12px;
	display: block;
	text-transform: uppercase;
	font-family: SamsungIFBk !important;
}
.btn_acc_4 span{
	font-size: 12px !important;
	font-family: SamsungIFRg !important;
	margin-top: -5px;
	display: block;
	color: #fff;
}
.carousel-indicators-slide6 {
	width: 30%;
	margin: 20px auto;
}
.carousel-indicators-slide li {
	background-color: #999;
	border: 1px solid #ccc;
}
.carousel-indicators-slide6 li {
	width: 35px;
	height: 35px;
	margin: 2px;
	/* text-indent: -999px; */
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border: 1px solid #000;
	border-radius: 20px;
	color: #000;
	padding-top: 6px;
	float: left;
	list-style-type: none;
	margin-left: 10px;
}
.carousel-indicators-slide6 .active {
	background-color: #0054a6;
	border-color: #0054a6;
	color: #fff;
	font-weight: bold;
}
.carousel-indicators-slide6 p.big{
	color: #0054a6;
	float: left;
	margin-right: 20px;
	font-size: 28px;
	font-weight: bold;
}
#myCarousel6 .idx21 img{
	width: 100%;
}
.upper{
	text-transform: uppercase;
}
p.noupper{
	text-transform: none;
}
p.black{
	color: #000000;
}
/* CENTER TESTS */
/*.item.idx01 .bubble{
	width: 100%;
	height: 100%;
}
.item.idx01 .bubble div {
  display: table-cell; 
  vertical-align: middle;
}
.item.idx01 .bubble div div{
	width: 80%;
	text-align: center;
	margin: auto;
}
.item.idx01 .bubble p {
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;	
	display: block;
}*/

